//
//  Fonts
// ------------------------------------------------


// Lato
// @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

// PT Sans
// @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

// Line Icons
@import (css)   "lib/font-lineicons.css";

// @import url(https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap);
// @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap);