/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
#hero {
    font-family: 'Kanit' !important;
} */
.backgroundtest {
  background-image: url('../img/background/BG_05.jpg') ;
  background-size: cover;
  min-height: 800px;
}
.backgroundfooter {
  background-color: #0c75ba;
  padding-top: 20px;
  padding-bottom: 50px;
}
.backgroundsubscribe {
  background-image: url('../img/background/BG_contect.png');
}
.logonav {
  background-image: url('../img/Logo_Onsent.png');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  display: block;
  height: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 30px;
  width: 130px;
}

.logonav-blog {
  background-image: url('../img/Logo_Onsent_Color_01.png');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  display: block;
  height: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 30px;
  width: 130px;
}

.contackfooter {
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;
  font-size: 15px;
  line-height: 1.6;
}
.contackfooter .icon {
  position: absolute;
  left: 0;
  font-size: 20px;
}
.copyrightfooter {
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}



@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 960px;
}

.slider::before, .slider::after {
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slider .slide-track {
	animation: scroll 10s linear infinite;
    animation-delay: 0.5s;
	display: flex;
	width: calc(250px * 14);
}

.slider .slide {
	height: 100px;
	width: 250px;
}

.process {
  color: #f1f2f2; 
  position: relative; 
  left: 250px;
}


.chevron-pointer {
  cursor: pointer;
  pointer-events: auto;
}

@media only screen and (max-width: 800px) {
  .process {
    position: relative; 
    left: 0;
  }
  .parent-process {
    display: flex;
    justify-content: center;
  }
}